[Desktop Entry]
Type=Application
Name=Rename multiple
Name[pt]=Renomear vários
Name[pt_BR]=Renomear vários
Comment[es]=Renombrar múltiples
Exec=/usr/share/toyrenametool/toyrenametool.py %U
Icon=document-edit
Categories=Utility;
