[Desktop Entry]
Type=Application
Name=Rename files
Name[pt]=Renomear arquivos
Name[pt_BR]=Renomear arquivos
Name[es]=Renombrar archivos
Exec=renametool %U
Icon=rename-tool
Categories=Utility;
