[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
Actions=RenameTool;
Encoding=UTF-8

[Desktop Action RenameTool]
Name=Rename files
Name[pt]=Renomear arquivos
Name[pt_BR]=Renomear arquivos
Name[es]=Renombrar archivos
Exec=renametool %U
Icon=rename-tool
