[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
Actions=RenameTool;
Encoding=UTF-8

[Desktop Action RenameTool]
Name=Rename multiple
Name[pt]=Renomear vários
Name[pt_BR]=Renomear vários
Comment[es]=Renombrar múltiples
Exec=renametool %U
Icon=rename-tool
